[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-nav = "*"
flask-restful = "*"
flask-scss = "*"
flask-sock = "*"
pathlib = "*"
pillow = "*"
werkzeug = "*"
reportlab = "*"
requests = "*"
requests-file = "*"
requests-unixsocket = "*"
simple-websocket = "*"
simplejson = "*"
python-dateutil = "*"
jinja2 = "*"
itsdangerous = "*"
markdown = "*"
markupsafe = "*"
mypy-extensions = "*"
pylint = "*"
turbo-flask = "*"
webencodings = "*"
tqdm = "*"
typing-extensions = "*"
urllib3 = "*"
unidecode = "*"
alive-progress = "*"
html5lib = "*"
httplib2 = "*"
isort = "*"
packaging = "*"
pathspec = "*"
pbr = "*"
soupsieve = "*"
pyscss = "*"
testresources = "*"
tldextract = "*"
visitor = "*"
keyboard = "*"

[dev-packages]

[requires]
python_version = "3.8"
